html {
	font-size: 18px;
}

header {
/*	display: flex;
	align-items: center;
	justify-content: space-between;*/
	background: #d9d9d9;
	box-shadow: 0 1px 5px #bfbfbf;
}

header a:hover {
	color: white;
/*	text-shadow: #666 1px 0 10px;*/
}
.lk {
	display: flex;
	align-items: center;
	width: 30%;
}

.search {
	margin-right: 10%;
	width: 60%;
}
/*.container {

}*/

.headerMenu {

	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;


}

header ul li {
	display: inline-block;
	list-style: none;
}
.TopMenu li{
	/*margin: 10px;*/
	

	margin-left: 3%; 


}

.TopMenu a {
	text-decoration: none;
	color: black;
}

/*.logo {
	display: block;
}*/
.search {

/*width: 400px;*/
}

.TopMenu {
	display: block;

	margin: 0 0 0 0;
	/*width: 30%;*/
}

.bi-person-fill {
	font-size: 18px;
}

.nav_lk a{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
}

.nav_lk i {
	font-size: 20px;
}

.user {
	display: block;
	margin-left: 5%;
	width: 100px;
}